<div class="dt-progress-bar" [ngClass]="progressClass">
    <div class="labels">
        <label *ngIf="lowerLimit">{{lowerLimitLabel}} {{lowerLimit | dtcurrency }}</label>
        <label><dt-profit-loss [profitLoss]="progress" [format]="'percent'"></dt-profit-loss></label>
        <label>{{upperLimitLabel}} {{upperLimit | dtcurrency }}</label>
    </div>

    <div class="current-indicator" [ngStyle]="currentIndicatorStyle">
        <fa-icon [icon]="faCaretDown"></fa-icon>
    </div>

    <div class="progress" style="height: 2px;">
        <div class="progress-bar bg-transparent" role="progressbar" [ngStyle]="stopLossProgressStyle"></div>
        <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="losingProgressStyle"></div>
        <div class="progress-bar bg-success" role="progressbar" [ngStyle]="winningProgressStyle"></div>
    </div>
</div>
