<nav class="navbar fixed-top">
  <div class="container-fluid">
    <div class="navbar-brand">DealTracker</div>
    <div class="navbar-items" *ngIf="isLoggedIn">
      <div class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/"><fa-icon [icon]="faHome"></fa-icon> Home</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/deal"><fa-icon [icon]="faMoneyBill"></fa-icon> Deals</a>
      </div>
    </div>
    <div>
      <div *ngIf="isLoggedIn">
        <a class="nav-link" (click)="logout()"><fa-icon [icon]="faSignOut"></fa-icon></a>
      </div>
    </div>
  </div>
</nav>
